
body {
	font-size: 16px;
	font-family: 'Josefin Sans', sans-serif;
	color: #333;
	background-color: #fdfdfd;
	padding-top: 60px;

}
/* ============== Link color ============== */
a {
    color: #D2691E;
    word-wrap: break-word;
    cursor: pointer;
    -webkit-transition: color 0.3s ease-in, background 0.3s ease-in;
    -moz-transition: color 0.3s ease-in, background 0.3s ease-in;
    -ms-transition: color 0.3s ease-in, background 0.3s ease-in;
    -o-transition: color 0.3s ease-in, background 0.3s ease-in;
    transition: color 0.3s ease-in, background 0.3s ease-in;
}

a:hover,
a:focus {
    color: #555;
    text-decoration: none;
    outline: 0;
}

a:before,
a:after {
    -webkit-transition: color 0.3s ease-in, background 0.3s ease-in;
    -moz-transition: color 0.3s ease-in, background 0.3s ease-in;
    -ms-transition: color 0.3s ease-in, background 0.3s ease-in;
    -o-transition: color 0.3s ease-in, background 0.3s ease-in;
    transition: color 0.3s ease-in, background 0.3s ease-in;
}

/* ============== nav area ============== */

.nav-cell {
	text-align: center;
}
.navbar-area {
	background-color: #ededed;
}
.icon-bar {
	background-color: #D2691E;
}
.navbar-fixed-top .nav {
    padding: 15px 0;
}

.navbar-fixed-top .navbar-brand {
    padding: 0 15px;
}

.logo {
    width:  5em;
}

@media(min-width:768px) {
    body {
        padding-top: 100px;
    }

    .navbar-fixed-top .navbar-brand {
        padding: 15px 0;
    }
}

/* ============== footer area ============== */

#footerWrapper {
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: #33332e;
}
#mainFooter {
    height: 12em;
}
#footerWrapper p {
    color: #fefeff;
}   

.footerWidget {
    padding:1.2em;
    padding-left:0;
    position: relative;
    top: 0.3em;
}
.social-area {
    position: relative;
    top: 2em;
} 
.address-area {
    position: relative;
    top: 0.3em;
}

.karusell {
    padding-top: 10px;
    padding-bottom: 15px;
}


.checklist {
    padding:15px;
    background-color: rgba(255, 255, 228, 0.7);
    border-style: solid;
    border-width:1px;
    border-color:lightgray;
}

h2 {
    padding:15px;
    font-size:35px;
    border-style: solid;
    border-width: 1px;
    border-left: 0;
    border-right: 0;
}



ul.rig {
	list-style: none;
	font-size: 0px;
	margin-left: -2.5%; /* should match li left margin */
}
ul.rig li {
	display: inline-block;
	padding: 10px;
	margin: 0 0 2.5% 2.5%;
	background: #fff;
	border: 1px solid #ddd;
	font-size: 16px;
	font-size: 1rem;
	vertical-align: top;
	box-shadow: 0 0 5px #ddd;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
ul.rig li img {
	max-width: 100%;
	height: auto;
	margin: 0 0 10px;
}
ul.rig li h3 {
	margin: 0 0 5px;
}
ul.rig li p {
	font-size: .9em;
	line-height: 1.5em;
	color: #999;
}
/* class for 2 columns */
ul.rig.columns-2 li {
	width: 47.5%; /* this value + 2.5 should = 50% */
}
/* class for 3 columns */
ul.rig.columns-3 li {
	width: 30.83%; /* this value + 2.5 should = 33% */
}
/* class for 4 columns */
ul.rig.columns-4 li {
	width: 22.5%; /* this value + 2.5 should = 25% */
}
 
@media (max-width: 480px) {
	ul.grid-nav li {
		display: block;
		margin: 0 0 5px;
	}
	ul.grid-nav li a {
		display: block;
	}
	ul.rig {
		margin-left: 0;
	}
	ul.rig li {
		width: 100% !important; /* over-ride all li styles */
		margin: 0 0 20px;
	}
}




/* ------------------ MixItUp ------------------ */

.mixit-button{
  display: inline-block;
  background: #666;
  border: 0;
  color: #fdfdfd;
  font-size: 16px;
  font-weight: 300;
  border-radius: 4px;
  cursor: pointer;
  outline: 0 !important;
}
.product-grid:after{
  display: inline-block;
}

.product-grid .mix,
.product-grid .gap{
  display: inline-block;
}

.product-grid .mix{
  display: none;
}



.product-grid .mix:after{

  display: inline-block;

}

.product-grid .mix:before{
  display: inline-block;
}